/*background*/
body {
  background-image: url(images/chubbyBubbles.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/*headers*/
h1, h3, h4 {
  text-align: center;
  font-family: 'Rubik Mono One', sans-serif;
}

/*button*/
.myButton {
  text-align: center;
}

/*circle*/
div {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
